<div class="page-header">
  <div class="row">
    <div class="col-lg-12">
      <h1 class="text-warning">Welcome to Language Maker!</h1>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-lg-4">
    <h3><%= link_to "Constructed Languages", constructed_languages_path %></h3>
  </div>
</div>
